div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    margin: 20px auto ;
    padding-left: 30px;
    
    /*
    penulisan border
    boder: width style color
    border-left: width style color


    style: solid, dotted, dashed, double
    */
    border: 5px solid black;
}
/*penggunaan padding akan berdampak pada ukuran element*/