h1 {
    /*font-family: arial; */
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: impact;
    font-size: 50px;

    /*font-weight:bold*/
    /*font-weight:border*/
    font-weight: normal;

    /**/
    font-variant: normal;
    /*font-variant: small-caps;*/

    /**/
    font-style: normal;
    /*font-style: oblique;*/
    /*font-style: italic;*/

    /*textstyling*/
    /*mengatur warna text*/
    color: blue;

    /*mengatur format paragraf*/
    text-align: justify;
    
    /*memberi identitas pada paragraf*/
    text-indent: 100px;

    /*mengukur dekorasi*/
    text-decoration: underline;

    /*mengubah jenis huruf menjadi besar kecil, kapital*/
    text-transform: capitalize;
    
    /*mengatur jarak sepasi per huruf*/
    letter-spacing: 10px;
    
    /*mengatur jarak spasi per kata*/
    word-spacing: 5px;
}

p {
    /*mengatur ketinggian paragraf*/
    line-height: 40px;


}